body {
	font-size: 16px;
	color: #222;
	letter-spacing: .01rem;
	font-family: 'Poppins', sans-serif;
}

/* .hehe {
    display: non;
} */
.btn-login {
	display: block;
	border: 0;
	border-radius: .25rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: inherit;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	background-color: #b4e1d8;
	color: #fff;
	width: 245px;
    max-width: 100%;
    font-size: 1rem;
    font-weight: 700;
    margin: 8px 0;
    padding: 10px 0;
}


#btn-login1 {
	cursor: not-allowed;
}

.login-form {
	line-height: 1.375rem;
	max-width: 30%;
	padding-top: 50px;
}

.auth {
	border: 1px solid #ededed;
	border-radius: 2px;
	margin: 2rem 0;
}

.tabs__list {
	display: flex;
	margin: 0;
	padding: 0;
	align-items: flex-end;
}

.auth .tabs__panel {
	outline: none;
	padding-top: 2rem;
}

.auth_form {
	padding: 0 2.5rem;
}

.field {
	margin: 0 0 1rem;
	padding: 0;
}

.field__label {
	font-size: .875rem;
	display: inline-block;
	cursor: pointer;
	margin-bottom: .25rem;
	line-height: 1.125rem;
	font-weight: 500;
}

.field__input, .field__select {
	width: 100%;
	display: block;
}

.auth__form .field__input {
	font-size: .875rem;
	line-height: 1.125rem;
	padding: .875rem 1rem;
}

.field__input {
	font-weight: 400;
	padding: 0.75rem;
	border: 1px solid #ddd;
	background-repeat: no-repeat;
}

.auth__links {
	font-size: .75rem;
	text-align: center;
}

.auth .tabs__list li {
	width: 50%;
}

.auth .tabs__list .tabs__tab[aria-selected=true] {
	background: #fff;
}

.auth .tabs__list .tabs__tab {
	font-family: GT Walsheim Pro, Arial, Helvetica, sans-serif;
	font-weight: 700;
	display: block;
	background: #f7efef;
	text-align: center;
	text-decoration: none;
	outline: 0;
	color: #222;
	padding: 1.25rem;
	font-size: 1.25rem;
}



.phoneNumber {
	position: relative;
}

.sendOTP {
	display: block;
	position: absolute;
	top: 37px;
	right: 11px;
	cursor: pointer;
	font-size: 14px;
	user-select: none;
}

.sendOTP:hover {
	color: #97d5c9;
}

.hidden-tab {
	visibility: hidden;
	display: none;
}

.auth {
	margin-bottom: 60px;
}

.recaptcha-container {
	margin-top: 50px;
}

.other_method_login {
	display: flex;
	align-items: center;
}

.border-before {
	height: 1px;
	width: 100%;
	background-color: #dbdbdb;
	flex: 1;
}

.other_method_login>span {
	text-transform: uppercase;
	padding: 0 1rem;
	font-size: .75rem;
	color: #ccc;
}

.google__link {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.google_logo {
	font-size: 1rem;
	padding-right: 10px;
	line-height: 1rem;
}

.google_text {
	font-size: 1rem;
	line-height: 1rem;
}

.auth__link {
	display: block;
	padding-bottom: 1rem;
}

.auth__title {
	margin-bottom: 0;
}

.sub_auth__title {
	opacity: 0.8;
	text-align: center;
	font-size: .8rem;
	margin-bottom: 3rem;
}

/* popup register form */
.popup-login-tab {
	padding: 24px 8px 8px 8px !important;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: normal;
}

.popup-login-tab>.popup-login-tab-item {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	padding: 0 8px;
	user-select: none;
	width: calc(50% - 16px);
}

.popup-login-tab>.popup-login-tab-item hr {
	font-size: 2em;
	margin: 5px 0;
	border: 1px solid #eee0;
	transition: all 0.5s ease-in-out;
	width: 20%;
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

.popup-login-tab>.popup-login-tab-item.active a, .popup-login-tab .popup-login-tab-item:hover a
	{
	color: #229780;
}

.popup-login-tab>.popup-login-tab-item:hover hr, .popup-login-tab>.popup-login-tab-item.active hr
	{
	border: 1px solid #229780;
	width: 100%;
}

.input_box {
	position: relative;
}

.valid-form {
	border: 1px solid rgba(81, 197, 173, .5);
}

.invalid-form {
	border: 1px solid rgba(180, 51, 51, 0.5);
}

.alert {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.alert.show {
	opacity: 1;
}

#alertContainer {
	position: absolute;
	top: 24%;
	left: 42%;
}

.btn-login:disabled {
	cursor: not-allowed;
	opacity: .7;
}

.field__input:disabled {
	background-color: #f2f2f2;
}

.field_register {
	margin-top: 2rem; display : flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	display: flex;
}

@media (max-width: 1199px) {
	.login-form {
		width: 450px;
		max-width: 450px;
	}
}

@media (max-width: 672px) {
	.login-form {
		width: 80%;
		max-width: 80%;
	}
}