.profile-nav {
    border: 1px solid #ededed;
    border-radius: 2px;
    padding: 1rem;
}

.profile-nav__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-nav__item:not(:last-child) {
    margin-bottom: 1rem;
}

.profile-nav__link {
    text-decoration: none;
    color: currentColor;
    font-size: 1rem;
}

.profile-nav__items .is-selected {
    font-weight: 700;

}
/*view profile */
.view-profile {
    padding: 1rem;
}
.view-profile__heading {
    display: none;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.view-profile__content {
    margin-bottom: 2rem;
}

.form__section-heading {
    font-size: .875rem;
    line-height: 1.375rem;
}

@media (min-width: 768px) {
    .form__section-heading {
        font-size: 1.25rem;
        line-height: 1.875rem;
        margin: 1rem 0;
    }
}
.view-profile__content [name=email] {
    border: 1px solid #ededed;
    background-color: #ededed;
}

.field__input[disabled] {
    color: #7a7a7a;
    background-position: .5rem 50%;
    border-color: #ededed;
    padding-left: 2.5rem;
    background-image: url(/static/e9ab90c….svg);
}