<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- cdn boostrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!--login css-->

    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <!-- cdn fown awe some-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Baby Shop</title>
</head>

<body>
    <!-- nav - bar -->
    <header th:insert="~{home :: navbar}"></header>
    <!-- login form-->
    <!--notification -->
    <div id="notice-container"></div>
    <div class="container mx-auto login-form">
        <main class="auth">
            <div class="tabs">
                <section id="1" class="tabs__panel"><!--forgot password -->
                    <main class="auth-login">
                        <h3 class="auth__title">Forgot your password?</h3>
                        <p class="sub_auth__title">Enter email address to reset your password</p>
                        <div th:if = "${success}!=null" th:text = "${success}"></div>
                        <div th:if = "${err}!=null" th:text = "${err}"></div>
                        <div class="arlet-input" th:if = "${err}!=null"></div>
                        <form th:action="@{/fogotpass/email}" method="post" class="auth_form js-auth-form">
                            <div class="field">
                                <label for="email" class="field__label">Email address</label>
                                <input type="email" id="email" name="email" class="field__input" placeholder="Email" required>
                            </div>
                            <div class="field">
                                <button class="btn-login text-white" id="btn-forgot" type="submit">
                                    <span>Reset password</span>
                                </button>
                            </div>
                        </form>
                        <div class="auth__links">
                            <a th:href="@{/login}" class="auth__link" style="text-decoration: underline;">Login</a>
                        </div>
                    </main>
                </section>
            </div>
        </main>
    </div>
    <footer th:insert="~{home :: footer}"></footer>
	<script th:src="@{/js/login.js}"></script>
    <script th:src="@{/js/forgotpass.js}"></script>
</body>

</html>