<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- cdn boostrap-->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!--login css-->

<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/viewprofile.css}">
<!-- cdn fown awe some-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Baby Shop</title>
</head>

<body>
	<!-- nav - bar -->
	<header th:insert="home :: navbar"></header>
	<!--view profile-->
	<div class="container" th:with="user = ${session.user}">
		<div class="row align-items-start gap-5">
			<div class="sidebar_profile col-md-2">
				<!--add image information-->
				<div class="avatar">
					<a href="viewprofile" class="avatar_user">
						<div class="img__user">
							<div class="avatar__placeholder">
								<i class="fa-solid fa-user"></i>
							</div>
							<img th:src="${user.getUriAvatar()}" alt="User Avatar">
						</div>
					</a>
					<div class="avt_description">
						<div class="avt_name" th:text="${user.getfullNameIfExistOrNot()}">Đào
							Duy</div>
						<!--Customer Name-->
						<a href="viewprofile">

							<div class="edit__profile">
								<i class="fa-solid fa-pen"></i> Edit profile
							</div>
						</a>
					</div>
				</div>

				<nav class="profile-nav">
					<ul class=" profile-nav__items">
						<li class="profile-nav__item is-selected"><a
							th:href="@{/user/viewprofile}" class="profile-nav__link">My
								Account</a></li>
						<li class="profile-nav__item"><a href="#"
							class="profile-nav__link">Order History</a></li>
						<li class="profile-nav__item"><a href="#"
							class="profile-nav__link">Return & Exchange</a></li>
						<li class="profile-nav__item"><a th:href="@{/user/resetpass}"
							class="profile-nav__link">Reset password</a></li>
						<li class="profile-nav__item"><a href="#"
							class="profile-nav__link">Newsletter</a></li>
						<li class="profile-nav__item"><a th:href="@{/logout}"
							class="profile-nav__link">Logout</a></li>
					</ul>
				</nav>
			</div>
			<main class="view-profile col-md-6">
				<div class="view-profile__infor">
					<h1 class="view-profile__heading d-md-block">Reset Password</h1>
					<div class="view-profile__content">

						<form th:action="@{/user/update/password}" class="profile-info"
							method="post">
							<h2 class="form__section-heading">Change Your Password</h2>
							<div th:if="${param.err}">
								<div class="alert alert-danger">Password and
								password again don't match</div>
							</div>
							<div th:if="${param.success}">
								<div class="alert alert-success">Password changed
									successfully</div>
							</div>
							<div class="field">
								<label for="password" class="field__label">Enter
									Password</label> <input type="password" id="password" name="password"
									class="field__input mb__input">
							</div>
							<div class="field">
								<label for="re-pass" class="field__label">Re-enter
									Password</label> <input type="password" id="re-pass" name="repass"
									class="field__input mb__input">
							</div>
							<div class="field">
								<button type="submit" class="btn-login btn-viewprofile">
									<span>Update profile</span>
								</button>
							</div>
						</form>
					</div>
			</main>

		</div>
	</div>
	<footer th:insert="home :: footer"></footer>
	<script th:src="@{/js/viewprofile.js}"></script>
</body>

</html>