<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- cdn boostrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!--login css-->

<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/viewprofile.css}">
<!-- cdn fown awe some-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Baby Shop</title>
</head>

<body>
	<!-- nav - bar -->
	<div th:insert="~{home :: navbar}"></div>

	<!--view profile-->
	<div class="container" th:with="user = ${session.user}">
		<div class="row align-items-start gap-5">
			<div class="col-md-2">
				<div class="sidebar_profile" th:fragment="sidebar">
					<!--add image information-->
					<div class="avatar">
						<a th:href="@{/user/viewprofile}" class="avatar_user">
							<div class="img__user">
								<div class="avatar__placeholder">
									<i class="fa-solid fa-user"></i>
								</div>
								<img th:src="${user.getUriAvatar()}" alt="User Avatar">
							</div>
						</a>
						<div class="avt_description">
							<div class="avt_name" th:text="${user.getfullNameIfExistOrNot()}">Đào
								Duy</div>
							<!--Customer Name-->
							<a th:href="@{/user/viewprofile}">

								<div class="edit__profile">
									<i class="fa-solid fa-pen"></i> Edit profile
								</div>
							</a>
						</div>
					</div>

					<nav class="profile-nav">
						<ul class=" profile-nav__items">
							<li class="profile-nav__item"><a
								th:href="@{/user/viewprofile}" class="profile-nav__link">My
									Account</a> <!-- hidden menu drop down-->
								<div
									class="stardust-dropdown__item-body stardust-dropdown__item-body--open"
									style="opacity: 1;">
									<div class="Yu7gVR">
										<a th:class="${color=='profile'}? 'FEE-3D tH0d6d' : 'FEE-3D'"
											th:href="@{/user/viewprofile}"> <span class="qyt-aY">Profile</span>
										</a> <a th:class="${color=='payment'}? 'FEE-3D tH0d6d' : 'FEE-3D'"
											th:href="@{/user/viewprofile/payment}"> <span
											class="qyt-aY">Payment</span>
										</a> <a th:class="${color=='address'}? 'FEE-3D tH0d6d' : 'FEE-3D'"
											th:href="@{/user/viewprofile/address}"> <span
											class="qyt-aY">Address</span>
										</a> <a
											th:class="${color=='changepass'}? 'FEE-3D tH0d6d' : 'FEE-3D'"
											th:href="@{/user/viewprofile/changepass}"> <span
											class="qyt-aY">Change Password</span>
										</a>
									</div>
								</div></li>
							<li class="profile-nav__item"><a
								th:href="@{/user/viewprofile/order/orderhistory}"
								class="profile-nav__link">Order History</a></li>
							<li class="profile-nav__item"><a
								th:href="@{/user/viewprofile/noti}" class="profile-nav__link">Notifications</a>
							</li>
							<li class="profile-nav__item"><a href="/logout"
								class="profile-nav__link">Logout</a></li>
						</ul>
					</nav>
				</div>

			</div>

			<main class="view-profile col-md-6">
				<div class="view-profile__infor">
					<h1 class="view-profile__heading d-md-block">My Account</h1>
					<div class="view-profile__content">
						<form th:action="@{/user/update/profile}" class="profile-info"
							method="post" enctype="multipart/form-data">
							<h2 class="form__section-heading">Customer Details</h2>
							<!-- disable information-->
							<div class="field rel__span">
								<label for="email" class="field__label">Email address</label> <input
									type="email" id="email" name="email"
									class="field__input field__input--email disable__input"
									th:value="${user.email}" disabled> <span
									id="email_span" class="field__span"><a href="email">Change
										Email</a></span>
							</div>
							<!-- change phone number-->
							<div class="field phoneNumber">
								<label for="phoneNumber" class="field__label">Phone
									Number</label> <input type="text" id="phoneNumber" name="phoneNumber"
									class="field__input disable__input"
									th:value="${user.phoneNumber}" disabled> <span
									id="phoneNumber_span" class="field__span"><a
									href="phone">Change Phone Number</a></span>
							</div>
					</div>
					<div class="field">
						<label for="first-name" class="field__label">Your Name</label> <input
							type="text" id="first-name" name="fullName"
							class="field__input mb__input"
							th:value="${user.getfullNameIfExistOrNot()}">
					</div>
					<!-- add date of birth-->
					<div class="field my-3">
						<p class="field__label">Date of birth:</p>
						<div class="d-flex row-direction align-items-center">
							<div class="ps-2 me-5" th:if = "${user.dob==null}">
								<span id="d">1</span>/<span id="m">1</span>/<span id="y">2023</span>
							</div>
							<div class="ps-2 me-5" th:if = "${user.dob!=null}">
								<span id="d" th:text="${user.dob.getDayOfMonth()}">1</span>/
								<span id="m" th:text="${user.dob.getMonthValue()}">1</span>/
								<span id="y" th:text="${user.dob.getYear()}">2023</span>
							</div>
							<button type="button"
								class="btn text-decoration-underline field__label text-primary"
								data-bs-toggle="modal" data-bs-target="#myModal">Change</button>
						</div>
					</div>
					<div class="gender-option js-gender-option">
						<h2 class="field__label mb-4">Gender Selection</h2>
						<label> <input type="radio" name="gender" value="male"
							class="text-center" th:checked = "${user.gender==true}"> Male
						</label> <label> <input type="radio" name="gender" value="female"
							class="text-center" th:checked = "${user.gender==false}"> Female
						</label>

					</div>
					<div class="field">
						<button type="submit" class="btn-login btn-viewprofile">
							<span>Update profile</span>
						</button>
					</div>

				</div>
			</main>
			<!-- change user avatar-->
			<div class="view-profile_image col-md-2">
				<div class="view-profile__image">
					<div class="image__placehoder">
						<img class="image__link" th:src="${user.getUriAvatar()}" alt="">
						<!-- avatar co r thi lay tu database r hien vao day-->
					</div>
					<input type="file" name="avatar" title="typeImage"
						class="type__image" accept=".jpg,.jpeg,.png">
					</form>
					<button type="button" class="btn_avatar">Chọn ảnh</button>
					<div class="avt__description">
						<p>Định lượng file tối đa 1 MB</p>
						<p>Định dạng: .JPEG, .PNG</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="modal" id="myModal">
		<div id="dobC" class="modal-dialog">
			<div class="modal-content p-3">

				<!-- Modal Header -->
				<div class="field">
					<label class="pb-3">Date of Birth</label>
					<div class="dob_fields d-flex justify-content-between">
						<div class="dob__inputs">
							<select id="day" name="day" class="dropdown__entry" value="c"></select>
						</div>
						<div class="dob__inputs">
							<select id="month" name="month" class="dropdown__entry" value="k"></select>
						</div>
						<div class="dob__inputs">
							<select id="year" name="year" class="dropdown__entry" value="g"></select>
						</div>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-info mx-3 text-white btn-dob"
						data-bs-dismiss="modal">Change</button>
					<button type="button" class="btn btn-danger"
						data-bs-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
	<div th:insert="~{home :: footer}"></div>
	<script th:src="@{/js/viewprofile.js}"></script>
</body>

</html>