
<div th:each="product : ${session.products}" class="slider-items-list1">
	<div class="product-card">
		<a th:href="@{'/product/details/' + ${product.productId}}"
			class="product_image_link">
			<div class="image_block">
				<img th:src="${product.getUriImages.get(0)}" loading="lazy">

			</div>
		</a>
		<h3 th:text="${product.brand.name}" class="card_title"></h3>
		<a th:href="@{'/product/details/' + ${product.productId}}"
			class="product_card_name">
			<h2 th:text="${product.name}"></h2>
		</a>
		<div class="mt-auto">
			<div class="product-price">
				<span class="discount_price"
					th:text="${product.getSalePrice() + '.000VNĐ'}"></span> <span
					class="n_discount_price" th:if="${product.discount} !=100"
					th:text="${product.price + '.000VNĐ'}"></span>
			</div>
		</div>
		<div class="product_discount_label" th:if="${product.discount} !=100"
			th:text="${product.discount + '%'}"></div>
		<div aria-label="remove from wishlist" class="add-wishlist">
			<input type="hidden" th:value="${product.productId}" />
			<!--  Không đỏ -->
			<div class="add-wishlist-child"
				th:if="${!#lists.contains(favorites, product.productId + '')}">
				<svg class="heart-light fill-neutral-light" viewBox="0 0 24 24"
					width="24" height="24">
										<path fill-rule="evenodd"
						d="m12 20.25-.37.66-.03-.02a14.24 14.24 0 0 1-.4-.24 30.35 30.35 0 0 1-4.39-3.26c-2.37-2.13-4.94-5.23-4.94-8.77A5.63 5.63 0 0 1 12 5.25a5.63 5.63 0 0 1 10.13 3.38c0 3.53-2.57 6.63-4.94 8.76a30.34 30.34 0 0 1-4.79 3.5l-.02.01h-.01l-.37-.65Zm0 0 .37.66a.75.75 0 0 1-.74 0l.37-.66Z">
										</path>
									</svg>
				<svg class="heart-tomato fill-neutral-microwave" viewBox="0 0 24 24"
					width="24" height="24">
										<path fill-rule="evenodd"
						d="M9.44 4.99a4.12 4.12 0 0 0-6.06 3.63c0 2.85 2.11 5.56 4.44 7.65a28.85 28.85 0 0 0 4.18 3.1h.01a28.85 28.85 0 0 0 4.18-3.1c2.32-2.1 4.43-4.8 4.43-7.65a4.12 4.12 0 0 0-7.93-1.58.75.75 0 0 1-1.38 0 4.12 4.12 0 0 0-1.87-2.05ZM12 20.25l-.37.66-.03-.02a14.24 14.24 0 0 1-.4-.24 30.35 30.35 0 0 1-4.39-3.26c-2.37-2.13-4.94-5.23-4.94-8.77A5.63 5.63 0 0 1 12 5.25a5.63 5.63 0 0 1 10.13 3.38c0 3.53-2.57 6.63-4.94 8.76a30.34 30.34 0 0 1-4.79 3.5l-.02.01h-.01l-.37-.65Zm0 0 .37.66a.75.75 0 0 1-.74 0l.37-.66Z">
										</path>
									</svg>
			</div>
			<!-- Đỏ -->
			<div class="add-wishlist-child"
				th:if="${#lists.contains(favorites, product.productId + '')}">
				<!--  content -->
				<svg class="heart-light fill-tomato-dark" viewBox="0 0 24 24"
					width="24" height="24">
										<path fill-rule="evenodd"
						d="m12 20.25-.37.66-.03-.02a14.24 14.24 0 0 1-.4-.24 30.35 30.35 0 0 1-4.39-3.26c-2.37-2.13-4.94-5.23-4.94-8.77A5.63 5.63 0 0 1 12 5.25a5.63 5.63 0 0 1 10.13 3.38c0 3.53-2.57 6.63-4.94 8.76a30.34 30.34 0 0 1-4.79 3.5l-.02.01h-.01l-.37-.65Zm0 0 .37.66a.75.75 0 0 1-.74 0l.37-.66Z">
										</path>
									</svg>
				<!--  border -->
				<svg class="heart-tomato fill-tomato-dark" viewBox="0 0 24 24"
					width="24" height="24">
										<path fill-rule="evenodd"
						d="M9.44 4.99a4.12 4.12 0 0 0-6.06 3.63c0 2.85 2.11 5.56 4.44 7.65a28.85 28.85 0 0 0 4.18 3.1h.01a28.85 28.85 0 0 0 4.18-3.1c2.32-2.1 4.43-4.8 4.43-7.65a4.12 4.12 0 0 0-7.93-1.58.75.75 0 0 1-1.38 0 4.12 4.12 0 0 0-1.87-2.05ZM12 20.25l-.37.66-.03-.02a14.24 14.24 0 0 1-.4-.24 30.35 30.35 0 0 1-4.39-3.26c-2.37-2.13-4.94-5.23-4.94-8.77A5.63 5.63 0 0 1 12 5.25a5.63 5.63 0 0 1 10.13 3.38c0 3.53-2.57 6.63-4.94 8.76a30.34 30.34 0 0 1-4.79 3.5l-.02.01h-.01l-.37-.65Zm0 0 .37.66a.75.75 0 0 1-.74 0l.37-.66Z">
										</path>
									</svg>
			</div>
		</div>
	</div>
</div>
<!-- Thêm ở đây -->
<div class="pagi-fav">
	<div class="pagination-nav">
		<div id="page-data" th:data-page="${page}"></div>
		<div id="page-dataMax" th:data-maxpage="${maxPage}"></div>
		<a aria-label="1plus-in-the-family" class="pagi-btn" href="#"> <svg
				class="fill-black stroke-none " viewBox="0 0 24 24" width="24"
				height="24">
                        <path fill-rule="evenodd"
					d="M20.25 12.75a.75.75 0 0 0 0-1.5H5.56l5.47-5.47a.75.75 0 1 0-1.06-1.06l-6.75 6.75a.75.75 0 0 0 0 1.06l6.75 6.75a.75.75 0 1 0 1.06-1.06l-5.47-5.47h14.69Z">
                        </path>	
                    </svg>
		</a> <span class="number-of-pages"> Page <!-- --> [[${page}]] <!-- -->
			of <!-- --> [[${maxPage}]]
		</span> <a aria-label="1plus-in-the-family" class="pagi-btn" href="#"> <svg
				class="fill-black stroke-none " viewBox="0 0 24 24" width="24"
				height="24">
                        <path fill-rule="evenodd"
					d="M3.75 11.25a.75.75 0 0 0 0 1.5h14.69l-5.47 5.47a.75.75 0 1 0 1.06 1.06l6.75-6.75a.75.75 0 0 0 0-1.06l-6.75-6.75a.75.75 0 1 0-1.06 1.06l5.47 5.47H3.75Z">
                        </path>
                    </svg>
		</a>
	</div>
</div>