.modal {

	width: 100%;
}

.modal-dialog {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 500px;
    max-width: 500px;

}

#imageContainer {
    margin-top: 30px;
}

#imageContainer img {
    max-width: 80px;
    max-height: 80px;
    margin: 5px;
}
